body{
	display: block;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Josefin slab", "Myriad Pro", Arial,sans-serif;
	background: #ececec;
}
figure{
	margin: 0;
	padding: 0;
}

header{
	height: 60px;
}

nav{
	width: 100%;
	font-family: "Josefin slab", "Myriad Pro", Arial,sans-serif;
	background-color: #ececec;
	opacity: 0.95;
	z-index: 999;
	padding-top: 1%;
	position: fixed;
}

#upwards{
	display: none;
}

a{
	color:#555;
	word-break: break-all;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav ul li{
	display: inline-block;
	line-height: 40px;
	float:right;
	text-align: center;
}

nav ul li a{
	line-height: 40px;
	text-decoration: none;
	display: inline-block;
	height: 40px;
	color: black;
}


nav ul li img{
	width: 30%;
}

nav ul li.logo{
	float: left;
}

.logo{
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
}

.logo a{
	color: black;
}

.logo a:hover{
	color:white;	
}


.drop-down{
	display:none;
}



#drop_down{
	display: none;
}

#container_mobile{
	display: none;
}




#list_coach {
    margin-left:25%;
    margin-right:15%;
    max-width: 60%;
    background: #ececec;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
	text-align: center;
}
#list_coach h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;

    margin: -10px -15px 30px -10px;;
    color: #888;
}
#list_coach h1>span {
    display: block;
    font-size: 11px;
}
#list_coach label {
    display: block;
    margin: 10px;
}
#list_coach label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}


#list_coach select {
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 60%;
    height: 35px;
    line-height: 25px;
}

#list_coach button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}

#list_coach button:hover {
    background: #CF7A7A
}




.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	margin: 0 auto;
	width: 200px;
}

.col-md-3{
	position: relative;
  	min-height: 1px;
  	height: 250px;
  	float: left;
  	box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
}

/*navigation bar*/
#nav{
	padding-top: 3%;
	margin-left:1%;
	padding-left: 1%;
	float: left;
	width: 13.5%;
	position: fixed;
	height:100%;


	
}

#nav a{
	font-size:13px;
	color:#262626;
	text-decoration: none;
	
}

#nav img {
	width:50px;
	height:50px;
}





select {
    border: solid 1px #000;
  
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    padding-right: 14px;

    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;

}




.flip-container {
	perspective: 1000;
	position: relative;
  	min-height: 1px;
 	padding-left: 2%;
	padding-top: 2%;
  	padding-right: 2%;
  	padding-bottom: 2%;
  	width: 25%;
  	height: 250px;
  	float: left;
  	box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.1s;
	transform-style: preserve-3d;
	width: 200px;
	height: 200px;
	cursor: pointer;
}

/* hide back of pane during swap */
.col-md-3, .back-1, .back-2, .back-3 {
	backface-visibility: hidden;
    transition:all 0.6s ease 0s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.col-md-3 {
	z-index: 2;
}

/* back, initially hidden pane */
.back-1 {
	transform: rotateY(180deg);
	position: relative;
  	min-height: 1px;
  	width: 100%;
  	height: 200px;
  	float: left;
  	box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    color:white;
    background: rgb(240, 115, 92);
}

.back-2 {
	transform: rotateY(180deg);
	position: relative;
  	min-height: 1px;
  	width: 100%;
  	height: 200px;
  	float: left;
  	box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    color:white;
    background: rgb(246, 241, 154);
}


.back-3 {
	transform: rotateY(180deg);
	position: relative;
  	min-height: 1px;
  	width: 100%;
  	height: 200px;
  	float: left;
  	box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    color:white;
    background: rgb(135, 212, 136);
}

#nav div.games{
	padding-top:0px;
	text-align: center;
}

@media screen and (max-device-width: 768px){
	.img {
		display: block;
		max-width: 100%;
		text-align: center;
		width: 50%;
		margin: 0 auto;
	}
	.text {
		display: none;
	}
	.games {
		display: inline-block;
		max-width: 20%;
		margin: auto;
		text-align: center;
	}
	#nav {
		padding: 0px;
		display: flex;
		float: initial;
		position: inherit;
		overflow: auto;
		width: 100%;
	}
	nav{
		background: #ececec;
	}
	.flip-container{
		display: none;
	}

	#list_coach{
		padding:2%;
	}

	.img-responsive{
		display: block;
		max-width: 100%;
		height: auto;
		width: auto;
		max-height: 100%;
		margin: 0 auto;
		border-radius: 0;
	}

	#container_mobile{
		overflow: auto;
		display: block;
	}

	#container_mobile p{
		margin: 0;
		padding: 1%;
	}

	.block{
		float: left;
		background: white;
		color:#7f8c8d;
		width: 33.333333333%;
	}

}