@import 'http://fonts.googleapis.com/css?family=Noto+Sans';
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather','Georgia',Cambria,"Times New Roman",Times;
  background: #ececec;
}



nav{
  width: 100%;
  font-family: "Josefin slab", "Myriad Pro", Arial,sans-serif;
  background-color: transparent;
  opacity: 0.95;
  z-index: 999;
  padding-top: 1%;
}


a{
  color:#555;
  word-break: break-all;
}

nav ul{
  list-style: none;
  margin: 0;
}

nav ul li{
  display: inline-block;
  line-height: 40px;
  float:right;
  text-align: center;
}

nav ul li a{
  line-height: 40px;
  text-decoration: none;
  display: inline-block;
  height: 40px;
  color: black;
}

nav ul li img{
  width: 30%;
}

nav ul li.logo{
  float: left;
}

.logo{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.logo a{
  color: black;
}

.logo a:hover{
  color:white;  
}

.drop-down{
  display:none;
}

#drop_down{
  display: none;
}

#chat-sys{
  margin:5%;
  overflow: auto;
}

#friend-list{
  margin-top: 5%;
  margin-left: 10%;
  overflow: auto;
  height: 35vw;
  float: left;
  width:20%;
}


#convo{
  margin-top:5%;
  float: left;
  margin-left: 5%;

}

.block{
  background: white;
  overflow: auto;
  margin: 2%;
}

.block:hover{
  box-shadow: #666 0px 0px 10px; 
  cursor: pointer;
}
.block img{
  width: 25%;
  float: left;
  box-sizing: border-box;
}

.id{
  float: left;
  width: 75%;
  box-sizing: border-box;
  text-align: center;
}

.square{
   width:20px;
   height:20px;
   position:relative;
   left:25%;
   bottom:15px;
   background:rgb(240, 115, 92);
   box-shadow: 0px 0px 5px #404040;
}

.square p{
    font-family: sans-serif;
    color:#fff;
    text-align: center;
    height: 20px;

}

.chat-thread {
  width: 50vw;
  height: 35vw;
  margin-top:4%;
  margin-left:1%;
  padding: 0 20px 0 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 40px 16px 20px;
  margin: 0 0 20px 0;
  font: 16px/20px 'Noto Sans', sans-serif;
}

/* Chat - Avatar */
.chat-thread li:before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: '';
}

/* Chat - Speech Bubble Arrow */
.chat-thread li.source:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
}

.chat-thread li.target:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
}

.chat-thread li.source {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  color: white;
  background: rgb(135, 212, 136);
}

.chat-thread li.source:before {
  right: -80px;
}

.chat-thread li.source:after {
  border-right: 15px solid transparent;
  right: -15px;
}

.chat-thread li.target {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  color: black;
  background: white;
}

.chat-thread li.target:before {
  left: -80px;
}

.chat-thread li.target:after {
  border-left: 15px solid transparent;
  left: -15px;
}

.chat-window {
  position: fixed;
  bottom: 18px;
}

.chat-window-message {
  width: 100%;
  height: 48px;
  font: 32px/48px 'Noto Sans', sans-serif;
  background: none;
  color: #0AD5C1;
  border: 0;
  border-bottom: 1px solid rgba(25, 147, 147, 0.2);
  outline: none;
}


.input{
  margin-bottom:10%;
}
.input input{
    font-size: 18px;
    border: 2px solid #765942;
	border-radius: 10px;
	height: 30px;
    width: 100%;
    
}

.input button{
    background: black;
	color: #fff;
	font-size: 13px;
	border: 1px solid #eee;
	border-radius: 20px;
	margin-left:85%;
    margin-top:2%;
}

.input button:hover{
  box-shadow: #666 0px 0px 10px; 
}



.chat-window {
    left: 25%;
    width: 50%;
}
  
  
}
@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}

@media screen and (max-device-width: 414px){
  .chat-thread {
    width: 90%;
    height: 260px;
  }

  .chat-window {
    left: 5%;
    width: 90%;
  }

  #friend-list{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 0%;
    overflow: auto;
    float: left;
    height: 15vw;
    width: 100%;
  }

  .block{
    background: white;
    overflow: auto;
    margin: 1%;
    width: 23%;
    float: left;
  }
  #convo{
    margin-top:20%;
    float:none;
  }
}
/* Medium and large screens */

.inner-container {
  display: inherit;
  margin: 5%;
  overflow: auto;
}
.block img{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  float: left;
  box-sizing: border-box;
}
.square{
   width: 15px;
   height: 15px;
   position: absolute;
   top: -10%;
   font-size: smaller;
   color: white;
   background:rgb(240, 115, 92);
   box-shadow: 0px 0px 5px #404040;
}
.id{
  line-height: 50px;
  display: inline-block;
  display: inline;
  height: 50px;
  float: left;
  position: absolute;
  width: 75%;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}
.id p {
  margin: 0;
}
.square {
  left: 0;
}
.square p{
    font-family: sans-serif;
    color:#fff;
    text-align: center;
    height: 20px;
}
.block{
  height: 50px;
  overflow: initial;
  background-color: transparent;
  position: relative;
  margin: 2%;
}

