<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/profile.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
</head>
<body>
	<header>
		<nav>
			<ul id = "nav">
				<li class="home"><a href="/home">BeMaster</a></li>
				<li><a href="/logout">Log Out</a></li>
				<li><a>Games</a>
                    <ul>
                        <li><a href="/lol">League of Legends</a></li>
                        <li><a href="/overwatch">Overwatch</a></li>
                        <li><a href="/dota2">Dota2</a></li>
                        <li><a href="/csgo">CS:GO</a></li>
                    </ul>
                </li>
				<li><a href="/search">Find a Coach</a></li>
				<li><a href="/follow">Follow</a>
				<li><a href="/message">Message</a>
			</ul>
		</nav>
	</header>
	<div class="main_content">
		<section class="information">
			<div class = "profile">
				<div class = "photo">
					<img src="../images/person.gif" class="img-responsive" alt="Who is that" style="width:150px;height:150px;">
				</div>
				<div class="g_information">
					<h2><%= user.local.nickname %></h2>
					<p> Hi, I am <%= user.local.nickname %>.</p>
					<div class="location">
						<img src="../images/adress-logo.png" class="address" style="width:20px;height:20px;">
						<p><%= user.local.location %></p>
					</div>
				</div>
				<div class="messager" onclick="location.href='/editcoach'">
					Edit my profile
				</div>
			</div>

			<div class="service">
				<h3 class = "title">Games: online</h3>
				<div class="types" onclick="location.href='/rating'">
					<div class = "game_pic">
						<img src="images/LoL_logo.png" style="width: 50px; height: 50px">
						<br>
					</div>	
					<div class = "description">
						<p>League of Legends</p>
					
					</div>
				</div>
		
			</div>
			<div class="service">
				<h3 class = "title">Games: offline</h3>
				<div class="types">
					<div class = "game_pic">
						<img src="images/LoL_logo.png" style="width: 50px; height: 50px">
						<br>
					</div>	
					<div class = "description">
						<p>League of Legends</p>
					
					</div>
				</div>
		
			</div>
		</section>
		<section class="my_life">
			<div id = "my_posts">
				<input type="text" placeholder="write something!"></input>
				<button type="button" class="post_button">Post!</button>
			</div>
		</section>
	</div>
</html>
