<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit</title>
</head>
<body>
	<!--codes for the navigation bar-->

<div class="login-page">
	<h2>Setting</h2>
  <div class="form">
	
    <!-- show any messages that come back with authentication -->
    <form class="login-form" action="/editstudent" method="post">
      <span>Your e-mail:</span>
      <p><%= user.local.email %> </p>
	  <span>You new Password</span>
      <input type="password" name="password" placeholder="password" required/>
	  <span>You new Nickname</span>                                               
      <input type="text" name="nickname" placeholder="smith" required/>
	  <span>You new Location</span>                                               
      <input type="text" name="location" placeholder="Toronto" required/>
	  <button type="submit">Submit</button>
	  <p class="message">Return to homepage  <a href="/home">Enter</a></p>
    </form>
  </div>
</div>
    
    
</body>
</html>