<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BeMaster</title>
</head>
<body>
	<header>
		<nav>
			<ul id = "nav"> 
				<li class="logo"><a href="/home"><img src="images/logo.png" style="width:100px;height:40px"></a></li>  				
				<li><a href="/search">Find a Coach</a></li>
		
			</ul>
		</nav>   
	</header>
	<section class="wrapper">
		<!--the title-->
		<section class="banner" id="panel-home">
			<div class="inner">
				<h1>BeMaster!</h1>
			</div>
		</section>
	   <section class="section">
            <a href="#"><h3><%=users.user.local.game%></h3><a>
            <br>
            <section class="section">
          <% users.coachlist.forEach(function(user) { %>
			<div class="col-md-3">
				<% if (user.local.game == 'League of Legends') { %>
                <img class="img-responsive" src=
                "../images/lol_user.jpg">
				<% } %>
				<% if (user.local.game == 'Dota2') { %>
                <img class="img-responsive" src=
                "../images/dota2_user.jpg">
				<% } %>
				<% if (user.local.game == 'Overwatch') { %>
                <img class="img-responsive" src=
                "../images/overwatch_user.png">
				<% } %>
				<% if (user.local.game == 'CS:GO') { %>
                <img class="img-responsive" src=
                "../images/csgo_user.jpeg">
				<% } %>	
				<a href="/users/<%= user._id %>"><%=user.local.nickname %></a></h2>
            </div>
			<% }); %>
             		
		
			</section>
        </section>
    </section>
</body>	
</html>

		