<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BeMaster</title>
</head>
<body>
	<header>
		<nav>
			<ul id = "nav"> 
				<li class="home"><a >BeMaster!</a></li>
				<li><a href="/logout">Log Out</a></li>
				<li><a>Games</a>
                    <ul>
                        <li><a href='/lol'>League of Legends</a></li>
                        <li><a href="/overwatch">Overwatch</a></li>
                        <li><a href="/dota2">Dota2</a></li>
                        <li><a href="/csgo">CS:GO</a></li>
                    </ul>
                </li>
				<li><a href="/search">Find a Coach</a></li>
                <li><a href="/profile">Hi <%= user.local.nickname %></a></li>
			</ul>
		</nav>
	</header>
	<section class="wrapper">
		<!--the title-->
		<section class="banner" id="panel-home">
			<div class="inner">
				<h1>BeMaster!</h1>
			</div>
		</section>
	   <section class="section">
            <a href="#"><h3> League of Legends</h3><a>
            <br>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>Noah</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
               "../images/person.gif">
                <h2>Liam</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>Mason</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>A title</h2>
            </div>
        </section>
        <section class="section">
            <a href="#"><h3>Overwatch</h3><a>
            <br>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>Noah</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
               "../images/person.gif">
                <h2>Liam</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>Mason</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>A title</h2>
            </div>
        </section>
        <section class="section">
            <a href="#"><h3> Dota2</h3><a>
            <br>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>Noah</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
               "../images/person.gif">
                <h2>Liam</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>Mason</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>A title</h2>
            </div>
        </section>
        <section class="section">
            <a href="#"><h3> CS:GO</h3><a>
            <br>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>Noah</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
               "../images/person.gif">
                <h2>Liam</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>Mason</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-rounded" src=
                "../images/person.gif">
                <h2>XXX</h2>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src=
                "../images/person.gif">
                <h2>A title</h2>
            </div>
        </section>
    </section>
</body>	
</html>

		