<!-- views/lol.ejs -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../css/search.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Profile</title>
</head>
<body>
		<!--codes for the navigation bar-->
	<header>
		<nav>
			<ul id = "nav"> 
				<li class="logo"><a href="/home"><img src="/images/logo.png" style="width:80px;height:40px"></a></li>
				<li><a>Games</a>
                    <ul id="subnav">
						<li><a href='/game/lol'>League of Legends</a></li>
                        <li><a href="/game/overwatch">Overwatch</a></li>
                        <li><a href="/game/dota2">Dota2</a></li>
                        <li><a href="/game/csgo">CS:GO</a></li>
                    </ul>
                </li>
				<li><a href="/search">Find a Coach</a></li>
				<li class="usersection"><a href="/signup">Sign Up</a></li>
				<li class="usersection"><a href="/login">Log In</a></li>
			</ul>
		</nav>
	</header>
    
<h2>League of Legends</h2>
<img src="../images/lol.png">
<h3>Top Coaches</h3>
	<table id="search-result">
	  <tr>
		<th>Coach</th>
		<th>Location</th>
		<th>Language</th>
		<th>Rating</th>
		<th>Cost</th>
	  </tr>
	  <tr>
		<td><a href="/Frankenstain">Frankenstain</a></td>
		<td>England</td>
		<td>English</td>
		<td><img src="../images/rating.png" class = "rating"></td>
		<td>$50</td>
	  </tr>
	  <tr>
		<td><a href="/Dracula">Dracula</a></td>
		<td>USA</td>
		<td>English</td>
		<td><img src="../images/rating.png" class = "rating"></td>
		<td>$50</td>
	  </tr>
	  <tr>
		<td><a href="/SherlockHolmes">Sherlock Holmes</a></td>
		<td>EU</td>
		<td>English</td>
		<td><img src="../images/rating.png" class = "rating"></td>
		<td>$40</td>
	  </tr>
	  <tr>
		<td><a href="/Jack">Jack</a></td>
		<td>Canada</td>
		<td>English</td>
		<td><img src="../images/rating.png" class = "rating"></td>
		<td>free</td>
	  </tr>
	  <tr>
		<td><a href="/Tianlun">Tianlun</a></td>
		<td>Canada</td>
		<td>English</td>
		<td><img src="../images/rating.png" class = "rating"></td>
		<td>free</td>
	  </tr>
	  <tr>
		<td><a href="/Albert">Albert</a></td>
		<td>Canada</td>
		<td>English</td>
		<td><img src="../images/rating.png" class = "rating"></td>
		<td>free</td>
	  </tr>
	  <tr>
		<td><a href="/Albert">WeiJun</a></td>
		<td>Canada</td>
		<td>English</td>
		<td><img src="../images/rating.png" class = "rating"></td>
		<td>free</td>
	  </tr>
	</table>

    
   
    
</body>
</html>