<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign up</title>
</head>
<body>
	<!--codes for the navigation bar-->
<div class="login-page">
  <div class="form">
    <!-- show any messages that come back with authentication -->
   
   
      <button onclick="location.href='/studentsignup'"> Sign as a Student</button>
      <button onclick="location.href='/coachsignup'"> Sign as a Coach</button>
	  <p class="message">Already have an account?   <a href="/login">Login</a></p>

  </div>
</div>
    
    
</body>
</html>