<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign up</title>
</head>
<body>
	<!--codes for the navigation bar-->

<div class="login-page">
	<h2>Choose</h2>

    <!-- show any messages that come back with authentication -->

   <div class= "signbutton">
	  <a  href='/studentsignup'>Signup as a student</a>
      <a   href= '/coachsignup'>Signup as a coach</a>

  </div>
</div>
    
    
</body>
</html>