<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign up</title>
</head>
<body>
	<!--codes for the navigation bar-->
<div class="login-page">
  <div class="form">
    <!-- show any messages that come back with authentication -->

    <form class="login-form">
      <a class="signbutton" href='/studentsignup'> Sign as a Student</a>
      <a class="signbutton" href='/Coachsignup'> Sign as a Coach</a>
	  <p class="message">Already have an account?   <a href="/login">Login</a></p>
    </form>
  </div>
</div>
    
    
</body>
</html>