<!-- views/admin/addcoach.ejs -->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="/script/jquery-2.2.1.js"></script>
	<script type="text/javascript" src="/script/coachsignup.js"></script>
	<title>Coach Form</title>
</head>
<body>
	<!--codes for the navigation bar-->

<div class="login-page">
	<h2 style="color:rgb(100, 65, 165)">Add coach</h2>
  <div class="form">
    <!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert"><%= message %></div>
	<% } %>
	
    <form class="login-form" action="/addcoach" method="post" enctype='multipart/form-data'>
	  <span>Email</span>
	  <input type="email" name="email" placeholder="example123@mail.com" autofocus required/>
	  <span>Password</span>
      <input type="password" name="password" placeholder="Password" required/>
	  <span>Nickname</span>                                               
      <input type="text" name="nickname" placeholder="Nickname" required/>

      <span>Type of Coaching Offered:</span>  
	  <select name="coachtype" id="coachtype" required>
		<option>Offline</option>
		<option>Online</option>
		<option>Both</option>
	 </select>

	  <section id="offlineLocation">	 
		<span>Location for Offline Coaching</span>                                                                    
		<input type="text" name="streetAddress" placeholder="Address" required/>
		<input type="text" name="city" placeholder="City" required/>
		<input type="text" name="province" placeholder="Province" required/>
      </section>

	  <span>You want to be a mentor for</span>                                               
      <select name="game" required>
		<option>League of Legends</option>
		<option>Dota2</option>
        <option>CS:GO</option>
        <option>Overwatch</option>
	  </select>
	  
	   <span>Your cost $/hour</span> 
	   <input type=number name="cost" placeholder="$" required>
	 
	   <span>Your Photo</span>                                               
      <input type="file" name="photo"/>
	  
	  <button type="submit">Add</button>
	  
    </form>
  </div>
</div>
    
    
</body>
</html>