<!-- views/changepasswordsuccess.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>admin</title>
</head>
<body>
	<!--codes for the navigation bar-->

	<h2 style="margin:20px">Success: One student has been added.</h2>
  
</body>
</html>