<!-- views/adduser.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>admin</title>
</head>
<body>
	<!--codes for the navigation bar-->
<div class="login-page">
  <div style="padding:100px 20px 100px" class="form">
    <!-- show any messages that come back with authentication -->
     
      <button onclick="location.href='/addstudent'"> Add user as a Student</button>
      <button onclick="location.href='/addcoach'"> Add user as a Coach</button>

  </div>
</div>
    
    
</body>
</html>