<!-- views/adminlogin.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    
	<title>adminlogin</title>
</head>
<body>
	<!--codes for the navigation bar-->
	
    
<div class="login-page">
  <div class="form">
    
    <!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
    <form class="login-form" action="/admin" method="post">
      <input id="loginname" type="text" name="email" value="admin@bemaster.com"/>
      <input id="loginpassword" type="password" name="password" placeholder="password" autofocus/>
       
	  <button type="submit">Login</button>
	   
      <p class="message">Not an administer? <a href="/login">Go to user log in</a></p>

    </form>
  </div>
</div>
    
    
</body>


</html>