<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit</title>
</head>
<body>
	<!--codes for the navigation bar-->

<div class="login-page">
	<h2>Change password</h2>
  <div class="form">
	
    <!-- show any messages that come back with authentication -->
    <form class="login-form" action="/changepassword" method="post">
      <p><%= user.local.email %> </p>
	  <span>New Password</span>
      <input type="password" name="newpassword" placeholder="new password" required/>
      
	  <button type="submit">Submit</button>
    </form>
  </div>
</div>
  
    
</body>
</html>