<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/confirmation.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/script/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src ="/script/profile.js"></script>

</head>
<body>
	<section id="confirmation">
		<h2>You have paid <%=money%> dollars to <%=target_coach%></h2>
		<p>We will automatically send a message to him/her</p>
		<button onclick="location.href='/viewmessage/<%=target_coach_id%>'">OK</button>
	</section>
</body>