<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="/script/jquery-2.2.1.js"></script>
	<script type="text/javascript" src="/script/coachsignup.js"></script>
	<title>Edit</title>
</head>
<body>
	<!--codes for the navigation bar-->

<div class="login-page">
  
  <div class="form">
    <!-- show any messages that come back with authentication -->
    <form class="login-form" action="/editcoach" method="post" enctype='multipart/form-data'>
	  <span>Your email</span>
	  <p><%= user.local.email %> </p>
	  <span>Your new Password</span>
      <input type="password" name="password" placeholder="password" />
	  <span>Your new Nickname</span>                                               
      <input type="text" name="nickname" placeholder="<%=user.local.nickname%>" />
	  
	  <span>Type of Coaching Offered:</span>
	  <select type="multiple" name="coachtype" id="coachtype">
		<option>Offline</option>
		<option>Online</option>
		<option>Both</option>
	 </select>
      
	  
      <section id="offlineLocation">	 
		<span>Location for Offline Coaching</span>                                                                    
		<input type="text" name="streetAddress" placeholder="Address" required/>
		<input type="text" name="city" placeholder="City" required/>
		<input type="text" name="province" placeholder="Province" required/>
      </section>
      
	  
	  <span>You want to be a mentor for</span>
      <select name="game">
		<option>League of Legends</option>
		<option>Dota2</option>
        <option>CS:GO</option>
        <option>Overwatch</option>
	  </select>
	  
	  
	  <span>Your new Photo</span>                                               
      <input type="file" name="photo"/>
	   <span>Your cost $/hour</span> 
	   <input type=number name="cost" placeholder="<%=user.local.cost%>">
	
	  <button type="submit">Submit</button>
	  <p class="message">Cancel <a href="/profile">return</a></p>
    </form>
  </div>
</div>
    
    
</body>
</html>