<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit</title>
</head>
<body>
	<!--codes for the navigation bar-->

<div class="login-page">
	
  <div class="form">
    <!-- show any messages that come back with authentication -->
    <form class="login-form" action="/editstudent" method="post" enctype='multipart/form-data'>
      <span>Your e-mail:</span>
      <p><%= user.local.email %> </p>
	  <span>Your new Password</span>
      <input type="password" name="password" placeholder="password" />
	  <span>Your new Nickname</span>                                               
      <input type="text" name="nickname" placeholder="<%=user.local.nickname%>" />
	  <span>Your game</span>
	   <select name="game">
		<option>Dota2</option>
		<option>League of Legends</option>
		<option>CS:GO</option>
		<option>Overwatch</option>
		<option selected><%=user.local.game%></option>
	  </select>
	   <span>Your new Photo</span>                                               
      <input type="file" name="photo"/>   
      
	  <button type="submit">Submit</button>
	<p class="message">Cancel <a href="/profile">return</a></p>
    </form>
  </div>
</div>
    
    
</body>
</html>