<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>login</title>
	<script type="text/javascript" src="/script/jquery-2.2.4.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
	function recapchaCheck() {
		$('#submitbtn').removeAttr('disabled');
	}
	</script>

</head>
<body>
	<!--codes for the navigation bar-->
	
    
<div class="login-page">
  <div class="form">
    
    <!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<p class="message">Enter Login Information Below:</p>
    <form class="login-form" action="/login" method="post">
		<input id="loginname" type="text" name="email" placeholder="username" autofocus/>
		<input id="loginpassword" type="password" name="password" placeholder="password"/>
		<p class="message">Must complete reCAPTCHA to login.</p>
		<div class="g-recaptcha" data-callback="recapchaCheck" data-sitekey="6LerJyYTAAAAAOAtX2h7HUFWiGFhrJFAhLme9R82"></div>
		<button type="submit" id="submitbtn" disabled>Login</button>
		<p class="message">Not registered? <a href="/signup">Create an account</a></p>
		<a href="/BeMaster/facebook"><img src="images/facebook.png" style="padding-top:20px;width:190px;height:45px"></a>
      
    </form>
  </div>
</div>
    
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
</body>


</html>